/* COMPONENTS: BUTTONS
   ========================================================================== */
/* Base */
.button {
  padding: 1rem 1rem;
  cursor: pointer;
  font-family: $roboto;
  font-size: $small;
  font-weight: $regular;
}

/* Button Scheme */
.button_primary {
  border: none;
  color: $white;
  background-color: $cyan;

  &:hover {
    background-color: $negro-jungla;
  }
}

.button_secondary {
  border: none;
  color: $white;
  background-color: $indian-red;

  &:hover {
    background-color: $negro-jungla;
  }
}
.boton-mensaje {
  width: 100px;
  height: 50px;
}
