/* COMPONENTS: NAVIGATIONS
   ========================================================================== */
/* Base*/
.navigation__row__col1__logo1 {
  font-family: $roboto;
  font-weight: $regular;
  font-size: $medium-medium;
}

.navigation__row__col1__logo2 {
  font-family: $roboto;
  font-weight: $regular;
  font-size: $medium;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
