/* COMPONENTS: THUMBNAILS
   ========================================================================== */
/* Base */
.thumbnail {
  border: 1px solid $gray;
  border-radius: 50%;
}

/* Size */
.thumbnail_tiny {
  max-width: 80px;
}

.thumbnail_normal {
  max-width: 80px;
}
