//Color Scheme Desafio Gigeo

//First Color Scheme (Negros y grises)
$negro-jungla: #1b1f21;
$espacio-exterior: #444749;
$plata-vieja: #828485;

//Second Color Schme (Blancos)
$white: #fff;
$platinum: #e8ebe4;
$gray: #bec1bb;

//Third Color Schme (Otros colores)

$indian-red: #cd5c5c;
$cyan: #80fcef;

/////////////

//Typography

//Font Family
$roboto: "Roboto", sans-serif;
$open-sans: "Open Sans", sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$large: 45px;
$medium-medium: 30px;
$medium: 16px;
$small: 14px;
$x-small: 10px;
